# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.db
*.db-shm
*.db-wal

# Logs
logs/

# Uploads
wwwroot/uploads/
uploads/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
appsettings.*.local.json
appsettings.*.Development.json
*.Development.json
appsettings.json

# Secrets
/secrets/
appsettings.Production.json
